
        .logo {
            position: absolute;
            left: 25px;
            top: 25px;
        }
        
       .botones {
            float: right;
            position: relative;
            top: 20px;
            right: 75px;
        }
        
        .primerContenido {
            position: relative;
            top: 130px;
            left: 10px;
            width: auto;
        }
        .img1 {
            position: relative;
            width: 400px;
            height: 300px;
            left:800px;
            bottom: 250px;  
        }

        #email {
            width: 500px;
        }
           
        .segundoContenido{
            position: relative;
            width: 500px;
            margin-left: 20px;
        }
        .img2 {
            position: relative;
            width: 450px;
            left:800px;
            bottom: 300px;
        }
        
        .form-floating {
            width: 350px;
            top: 30px;
            border: 1px solid;
            border-radius: 6px;
        }
        
        .form-floating #avatar {
           
            top: 130px;
            right: 290px;
            width: 40px;
            border-radius: 180px;
        }
        .tercerContenido {
            position: relative;
            background-color: rgba(77, 42, 141, 0.603);
            width: 100%;
            height: 30%;
            top: 1px;
        }
        .h4_3 {
            position: relative;
            color: white;
            left: 20px;
            top:15px
        }
        .h6_3{
            position: relative;
            left: 20px;
            top:15px;
            color: white;
        }

        #email_3{
            position: relative;
            left: 20px;
            width: 330px;
            top:15px;
        }
        #boton3{
            position: relative;
            width: 170px;
            left: 350px;
            bottom: 40px;
        }

        .piePagina{
            background-color: rgb(2, 1, 65);
            position: relative;
        }

        .logoPie{
            position: relative;
            top: 30px;
            left: 25px;
        }
        .listaContactos{
            position: relative;
            top: 40px;
            list-style: none;
            color: white;
            width: 300px;
        }
       .tabla{
           position: relative;
           left: 500px;
           bottom: 30px;
        }
        .link-info{
            margin: 100px;  
        }
        .icons{
            position: relative;
            left: 1050px;
            bottom:100px;
        }
        .instagram{
            margin: 20px;
        }
      
        .twitter{
            margin: 20px;
        }
        .facebook{
            margin: 20px;
        }
        .icon{
            background-color: white;
            border-radius: 180px;
            width: 20px;
        }


        
      
      